.dial-simple button:nth-child(1) {
    --tw-bg-opacity: 1;
    /* background-color: rgb(79 70 229/var(--tw-bg-opacity)); */
    background-color: #1976d2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
    vertical-align: baseline;
}

[type='text'], [type='email'], [type='url'], [type='password'], 
[type='number'], [type='date'], [type='datetime-local'], [type='month'], 
[type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    padding: 0;
    font-size: inherit;
    border-width: 1px;
    border-radius: 6px;
    outline: none;
    border-color: #d9d9d9;
}

.ant-input-number-handler-wrap {
    display: none !important;
}

.ant-notification-center {
    left: 50%;
    bottom: 50% !important;
    margin-right: 30%;
    transform: translate(-50%, -50%);
}

:where(.css-dev-only-do-not-override-zjzpde).ant-message .ant-message-notice {
    padding: 8px !important;
    text-align: end !important;
}

.ant-message {
    top: 90px !important;
}

.position-static {
    position: static!important;
}

[type='search']:focus {
    box-shadow: none;
}

[type='button'] {
    background-color: #1677ff;
}

.ant-spin-dot-item {
    background-color: #ff792c !important;
}

.hover-none:hover {
    color: #444 !important;
    border-color: transparent !important;
}

.text-no-data {
    font-size: .875rem;
    font-weight: 400;
    line-height: 20px;
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity));
}

/* :where(.css-dev-only-do-not-override-zjzpde).ant-btn-default:not(:disabled):hover {
    color: #fff !important;
    border-color: transparent;
} */

:where(.css-dev-only-do-not-override-zjzpde).ant-btn-default:not(:disabled):active {
    color: #fff !important;
    border-color: transparent;
}

.hover-btn-custom:hover {
    background-color: #d2832fb3 !important;
    color: #fff !important;
    border-color: transparent !important;
}

.antd-total-item {
    display: inline-block;
    height: 32px;
    line-height: 30px;
    margin-right: 8px;
    vertical-align: middle;
}

.coffee-dragger button {
    background-color: transparent;
}

.ant-modal-footer {
    border-top: 1px solid #e5e7eb;
    padding-top: 14px;
}

.ant-select-multiple .ant-select-selection-item {
    background: rgb(255 111 0 / 60%) !important;
}

.ant-table-wrapper .ant-table-thead .ant-table-cell {
    background-color: #eff3ff;
}

.ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
    font-weight: 600;
}

.ant-collapse-item.ant-collapse-item-active .ant-collapse-header {
    background-color: var(--blue-50);
}

.header-collapse__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-items: flex-start;
    padding: 0;
}

.header-collapse__item-title {
    font-size: 12px!important;
    letter-spacing: 0!important;
    line-height: 16px!important;
    text-align: left!important;
    font-weight: 400!important;
    color: var(--gray-500);
}

.header-collapse__item-value {
    font-weight: 600!important;
    font-size: 14px!important;
    letter-spacing: 0!important;
    line-height: 20px!important;
    text-align: left!important;
    color: var(--gray-800);
}

.ant-steps-item-description {
    font-weight: 600;
    color: var(--gray-800) !important;
    font-family: "Nunito Sans";
}

.ant-steps-icon img {
    width: 28px !important;
    height: 28px !important;
}

.ant-step-description__date {
    color: var(--gray-600) !important;
    font-weight: 400 !important;
}

.bg-gray50 {
    background-color: var(--gray-50)!important;
}

.border-gray200 {
    border-color: var(--gray-200)!important;
}

.border-solid {
    border-style: solid!important;
}

.filter-select .ant-select-selector {
    padding: 0 !important;
    border-color: var(--gray-200)!important;
    border-style: solid!important;
}

.ant-select-selection-selected-value {
    width: 300px !important;
}

.filter-status {
    max-height: 310px;
    overflow-y: overlay;
    padding: 16px 16px 0;
}

.filter-status .checkbox-title {
    font-family: "Nunito Sans";
}

.ant-checkbox-group {
    flex-direction: column;
}

.ant-checkbox-group span {
    font-family: "Nunito Sans" !important;
    font-size: 14px;
}

.ant-checkbox-wrapper {
    margin-left: 8px !important;
    margin-bottom: 0.75rem!important;
}

.button-group {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.button-group span {
    font-family: "Nunito Sans" !important;
    font-size: 12px;
    line-height: 16px;
}

.group-btn__clear {
    background: transparent;
    border-color: transparent;
    color: var(--red-400);
}

.group-btn__clear:hover {
    border-color: transparent !important;
    color: var(--red-400) !important;
}

.group-btn__clear:focus-visible {
    outline: none !important;
}

.group-btn__clear:hover span {
    text-decoration: underline;
}

.group-btn__apply {
    height: 24px;
    display: flex;
    padding: 0 8px !important;
    align-items: center;
    background-color: var(--orange-1);
    color: #fff
}

.group-btn__apply:hover {
    border-color: transparent !important;
    background: var(--orange-2) !important;
    color: #fff !important;
}

.group-btn__apply:hover span {
    color: #fff !important;
}

.icon-received__late {
    position: absolute;
    right: -18px;
}

.tw-sm_heading_h5 {
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.tw-sm_body_b1_reg {
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity));
}

.btn-back {
    background: var(--blue-500);
    border-color: var(--blue-500);
    color: #fff;
    padding: 12px 16px;
    height: 48px;
}

.btn-back span {
    font-family: "Nunito Sans";
    font-size: 16px;
}

.ant-btn-white {
    color: var(--gray-800);
    padding: 12px 16px;
    height: 48px;
    background: var(--gray-100);
    border-color: var(--gray-100);
    color: var(--gray-800);
    border-radius: 12px !important;
}

.ant-btn-white span {
    font-family: "Nunito Sans";
    font-size: 16px;
    line-height: 24px;
}

.ant-btn-white:hover{
    background: var(--gray-200);
    border-color: var(--gray-200) !important;
    color: var(--gray-800) !important;
}