@media (min-width: 992px) {
    .tch-box {
        padding-top: var(--space-50);
        padding-bottom: var(--space-50);
    }

    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }

    .tch-box__header-spacing {
        margin-bottom: var(--space-30);
    }

    .tch-box .tch-box__title .icon {
        font-size: var(--space-36);
    }

    .tch-box .tch-box__title .text {
        font-size: var(--space-28);
        line-height: var(--space-36);
    }

    .tch-category-card-list--spacing {
        margin-bottom: var(--space-14);
    }

    .flex-lg-wrap {
        flex-wrap: wrap!important;
    }

    .ml-lg-3, .mx-lg-3 {
        margin-left: 1rem!important;
    }

    .mb-lg-5, .my-lg-5 {
        margin-bottom: 3rem!important;
    }

    .mb-lg-3, .my-lg-3 {
        margin-bottom: 1rem!important;
    }

    .mt-lg-3, .my-lg-3 {
        margin-top: 1rem!important;
    }

    .nav-link-category.active .tch-category-card .tch-category-card__image {
        border-radius: 50%;
    }

    .tch-category-card .tch-category-card__image {
        width: var(--space-86);
        height: var(--space-86);
    }

    .tch-category-card .tch-category-card--circle {
        border-radius: 50%;
    }

    .tch-category-card .tch-category-card__content .tch-category-card__title {
        width: var(--space-86);
        font-size: var(--space-12);
        line-height: var(--space-16);
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .flex-lg-column {
        flex-direction: column!important;
    }

    .tch-product__card {
        padding: var(--space-10);
        margin-left: var(--space-12);
    }

    .tch-product__card .tch-product__image {
        width: var(--space-166);
        height: var(--space-166);
    }

    .tch-product__card .tch-product__image.tch-product--lg__image {
        width: 100%;
        height: auto;
    }

    .tch-product__card .tch-product__content {
        padding-top: var(--space-12);
    }

    .ml-lg--50 {
        margin-left: calc(var(--space-50)*-1);
    }

    .tch-checkout-box.tch-checkout-box--delivery, 
    .tch-checkout-box.tch-checkout-box--lg-shadowbox, 
    .tch-checkout-box.tch-checkout-box--list-method, 
    .tch-checkout-box.tch-checkout-box--remove-card {
        width: calc(50% - var(--space-50));
        margin-left: var(--space-50);
        padding: var(--space-16) 0;
    }

    .float-lg-left {
        float: left!important;
    }

    .float-lg-right {
        float: right!important;
    }

    .d-lg-block {
        display: block!important;
    }

    .tch-checkout-box--lg-shadowbox {
        padding: 0;
        box-shadow: 0 -4px 10px rgba(0,0,0,.12);
        border-radius: var(--space-8);
    }

    .tch-checkout-box.tch-checkout-box--list-total {
        padding-bottom: var(--space-30);
    }

    .tch-checkout-box--lg-shadowbox 
    .tch-checkout-box.tch-checkout-box.tch-checkout-box--list-submited {
        border-bottom-left-radius: var(--space-8);
        border-bottom-right-radius: var(--space-8);
    }

    .product-detail-page {
        justify-content: space-between;
        display: flex;
        padding: var(--space-20) 0;
        background: #fff;
        box-shadow: 0 10px 20px rgba(0,0,0,.1);
        border-radius: 8px;
        margin: var(--space-80) 0;
    }

    .html-description, .product-detail-page {
        max-width: calc(var(--space-90)*10);
    }

    .left-cols {
        max-width: 400px;
        box-sizing: content-box;
        padding: 0 var(--space-20);
    }

    .right-cols {
        transform: unset;
        box-shadow: unset;
    }

    .right-cols {
        width: var(--space-410);
        padding: 0 20px;
        box-sizing: content-box;
    }
}

@media (max-width:540px) {
    .flex-custom {
        flex: 1 1 0%;
    }
}

@media (min-width: 1052px)
{
    .container, .container-lg {
        max-width: 1020px;
    }
}

@media (min-width: 768px)
{
    .justify-content-md-center {
        justify-content: center!important;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px)
{
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }

    .flex-xl-wrap {
        flex-wrap: wrap!important;
    }

    .col-xl-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1260px)
{
    .container, .container-lg {
        max-width: 1230px;
    }
}

@media (max-width: 991px)
{
    .tch-product__card .tch-product__content.tch-product__content--mobile-padding {
        padding-left: var(--space-16);
        padding-top: 0;
    }

    .tch-checkout-box.tch-checkout-box--list-submited {
        position: fixed !important;
        bottom: 0 !important;
    }

    .container-fluid {
        padding: 28px !important;
    }
}

@media (min-width: 576px)
{
    .tch-detail-sale-box {
        padding: var(--space-16) 0 var(--space-84);
    }
}